/* General styles */
html, body {
  background: var(--default);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --default: #121213;
  --empty: #3a3a3c;
  --wrong: #b59f3b;
  --right: #538d4e;
}

#game {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
  width: 100%;
  height: 72vh;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--empty);
  margin: 4px;
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-size: 2.4rem;
}

.box.empty {
  background: var(--empty);
}

.box.wrong {
  background: var(--wrong);
}

.box.right {
  background: var(--right);
}

.animated {
  animation: flip 0.5s ease;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.title {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  position: relative;
}

.title-word-clone {
  position: absolute;
  left: calc(50% + 75px);
  transform: rotate(25deg);
  color: yellow;
  font-size: 1.2rem;
}

hr {
  border-style: solid;
  border-color: var(--empty);
  border-width: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.v-separator {
  margin: 0 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-media-link {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

/* On-screen keyboard styles */
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.key {
  width: 60px; /* Increased width */
  height: 80px; /* Increased height */
  background-color: #818384;
  color: white;
  margin: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem; /* Increased font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.key.large {
  width: 100px; /* Width for large keys like Enter and Backspace */
}

.key.correct {
  background-color: #538d4e; /* Green for correct letters */
}

.key.misplaced {
  background-color: #b59f3b; /* Yellow for misplaced letters */
}

.key.disabled {
  background-color: #3a3a3c; /* Gray for disabled keys */
  pointer-events: none; /* Prevent clicks */
  opacity: 0.5; /* Make disabled keys appear inactive */
  cursor: default; /* Change cursor to default */
}
